*{
    font-family: 'Oxygen';
    color:rgb(60, 60, 60);
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: auto;
    margin: 0px;
    background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(rgb(218, 218, 218))) fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top:0;
    width:100%;
    padding:0px 80px;
    background-color: rgb(0, 142, 60);
    box-shadow: 0px 1px 4px 1px rgb(77, 77, 77, 0.75);
}
.nav{
    margin-left: 3rem;
    margin-bottom: 1rem;

}
.main-menu{
    display: flex;
    list-style-type: none;
    text-align: center;
}
.buttons {
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;  
    height: 100px;
    width: 100px;
    line-height: 90px;
    color: white;
    border: 1.5px solid  white;
    border-top: 5px solid  white;
    border-bottom: 5px solid  white;
    background-color: rgb(0, 142, 60);
    border-radius: 25%;
    vertical-align: middle;
    overflow: hidden;
    transition: .3s ease;

}
.buttons:hover{
    box-shadow: 0px 2px 4px 2px rgb(50, 50, 50, 0.5);
    transform:translateY(-2px);
}
main{
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 30px;
}
.name, .tagline{
    float: left;
    margin-top: 50px;
    padding-left: 20px;
    line-height: 40px;
    color: white;
}
.name{
    font-size: 42px;
}
.tagline{
    margin:60px 0px 0px -10px;
}
.logo{
    margin: 1rem 0 1rem 0;
    height: 7rem;
}
.home{
    display: flex;
    justify-content: center;
}
.aboutMe{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.selfie{
    top: 1rem;
    margin-right: 2rem;
    height: 100%;
}
#title{
    text-align: left;
    top:20px;
    width: 50%;
    
}
.portMain{
    display: flex;
    text-align: center;
    flex-wrap: wrap;

}
.designPort, .artPort{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.port{
    position: relative;
    display: inline-block;
    background-color: white;
    margin: 10px;
    border: 2px solid rgb(0, 142, 60);
    border-radius: 2.5%;
    overflow: hidden;
    transition: .3s ease;
}
.port:hover{
    box-shadow: 0px 3px 4px 3px rgb(77, 77, 77, 0.75);
    transform:translateY(-3px);
}

.resumeMain{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-content: left;
}
.resume{
    margin: .5rem;
}
.resume li{
    position: relative;
    left: 1rem;
}
.contact-form, #msg{
    position: relative;
    top:10px;
}
.contactMe{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.contact-form input, .contact-form textarea{
    border-color: rgb(0, 142, 60);
}
.form-btn{
    display: flex;
    align-self: center;
    padding:10px;
    border: 2px solid rgb(0, 142, 60);
    border-radius: 20%;
    font-weight: bolder;
    transition: .3s ease;
}
.form-btn:hover{
    box-shadow: 0px 1.5px 3px 1.5px rgb(50, 50, 50, 0.5);
    transform:translateY(-1.5px);
}
input, textarea{
    text-align: left;    
    margin-top: 10px;

}
.portfolio{
    position: relative;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    margin: 1rem 1rem;
    height: 400px;
    width: 400px;
    border: 1.5px solid  rgb(0, 142, 60);
    border-top: 5px solid  rgb(0, 142, 60);
    border-bottom: 5px solid  rgb(0, 142, 60);
    background-color: white;
    border-radius: 20%;
    overflow: hidden;
    transition: .3s ease;
}
.portfolio h2{
    position: absolute;
    width: 100%;
    height: 5rem;
    text-align: center;
    line-height: 100px;
    bottom: 0px;
    color: rgb(36, 36, 36);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 100%);
}

.portfolio:hover{
    box-shadow: 0px 4px 5px 4px rgb(77, 77, 77, 0.75);
    transform:translateY(-4px);
}
footer{
    position: absolute;
    font-size: 12px;
    bottom: -30px;
}